receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
        max_recv_msg_size_mib: 16
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - http://localhost:4000
            - https://*.example.com
          allowed_headers:
            - Cors-Header
          max_age: 3600

  hostmetrics:
    collection_interval: 30s
    scrapers:
      cpu:
      memory:
      disk:
      filesystem:
      load:
      network:

  # WIP receiver
  prometheus:
    config:
      scrape_configs:
        - job_name: "otel-collector"
          scrape_interval: 15s
          static_configs:
            - targets: ["0.0.0.0:8888"]

  filelog:
    include:
      - /var/log/*.log
    start_at: end
    operators:
      - type: regex_parser
        regex: '^(?P<time>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}) (?P<sev>[A-Z]*) (?P<msg>.*)$'
        timestamp:
          parse_from: attributes.time
          layout: "%Y-%m-%d %H:%M:%S"
        severity:
          parse_from: attributes.sev

processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 400
    spike_limit_mib: 100

  batch:
    timeout: 2s
    send_batch_size: 1024
    send_batch_max_size: 2048

  resource:
    attributes:
      - key: service.namespace
        value: node-apollo
        action: upsert
      - key: deployment.environment
        value: local
        action: upsert
      - key: service.name
        action: delete

  attributes:
    actions:
      - key: password
        action: delete
      - key: useremail
        action: hash
      - key: collector.attribute
        value: collector-value
        action: insert

  filter:
    error_mode: ignore
    traces:
      span:
        - 'name == "graphql-query"'
      spanevent:
        - 'attributes["value"] == 0'

exporters:
  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, resource, attributes, filter, batch]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, resource, attributes, filter, batch]
      exporters: [debug]
    logs:
      receivers: [filelog]
      processors: [memory_limiter, resource, attributes, filter, batch]
      exporters: [debug]
